<nav
  class="fixed flex flex-wrap items-center content-center py-3 px-4 text-white bg-slate-900 top-0 md:h-screen w-full
    md:w-[17rem] z-20"
  role="navigation">
  <input
    name="toggle"
    id="toggle"
    type="checkbox"
    data-toggle="collapse"
    data-target="#menu"
    aria-controls="menu"
    aria-expanded="false"
    aria-label="Toggle navigation"
    autocomplete="off"
    class="hidden"/>
  <label class="cursor-pointer md:hidden fixed top-0 left-0 p-[1rem]" id="burger" for="toggle">
    <span class="block w-8 h-1 mb-1.5 relative bg-gray-300 rounded-md origin-top-left transition duration-500 ease-in-out
      delay-300"></span>
    <span class="block w-8 h-1 mb-1.5 relative bg-gray-300 rounded-md origin-left transition duration-500 ease-in-out delay-300"></span>
    <span class="block w-8 h-1 relative bg-gray-300 rounded-md origin-bottom-left transition duration-500 ease-in-out delay-300"></span>
  </label>
  <a class="whitespace-no-wrap js-scroll-trigger md:my-10 mx-auto" href="#top">
    <p class="h4 md:hidden">
      <span class="block text-white">David
        <span class="secondary -ml-1">Legrand</span>
      </span>
    </p>
    <span class="hidden md:block">
      <img
        class="h-auto img-profile rounded-full mx-auto border-sold border-white border-2 max-w-[170px]"
        src="img/profil.webp"
        alt="David Legrand, Lead developper JavaScript"/>
    </span>
  </a>
  <div class="hidden md:block items-center transition grow-0 shrink-0 basis-full mt-6" id="menu">
    <a
      class="block rounded hover:bg-slate-800 active:bg-slate-800 focus:outline-none mb-2 uppercase font-normal text-slate-50
        py-2 px-4 no-underline tracking-wider"
      href="#about">
      <i class="w-[1.2rem] opacity-50 fa-solid fa-address-card"></i>
      A propos</a>
    {%- for section in collections.sections -%}
      <a
        class="block rounded hover:bg-slate-800 active:bg-slate-800 focus:outline-none mb-2 uppercase font-normal text-slate-50
          py-2 px-4 no-underline tracking-wider"
        href="#{{ section.data.id }}">
        <i class="w-[1.2rem] opacity-50 fa-solid {{ section.data.icon }}"></i>
        {{ section.data.name }}</a>
    {%- endfor -%}
    <a
      class="block rounded hover:bg-slate-800 active:bg-slate-800 focus:outline-none uppercase font-normal text-slate-50 py-2
        px-4 no-underline tracking-wider"
      href="/img/CV-David-Legrand.pdf"
      target="_blank">
      <i class="w-[1.2rem] fa-solid opacity-50 fa-file-pdf"></i>
      Télécharger le CV</a>
  </div>
</nav>