<nav class="fixed flex flex-col justify-center items-center content-between py-3 px-4 text-white bg-slate-900 top-0 h-screen w-[17rem]" id="sideNav">
  <a class="inline-block pt-1 pb-1 mr-4 text-lg whitespace-no-wrap js-scroll-trigger" href="#top">
    <span class="block lg:hidden">David Legrand</span>
    <span class="hidden lg:block">
      <img
        class="max-w-full h-auto img-profile rounded-full mx-auto mb-2 border-sold border-white border-2 max-w-[170px]"
        src="img/profile.bmp"
        alt="David Legrand, Lead developper JavaScript"></span>
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="items-center" id="navbarSupportedContent">
      <ul>
        <li class="">
          <a class="uppercase font-normal text-slate-50 inline-block py-2 px-4 no-underline" href="#about">A propos</a>
        </li>
        {%- for section in collections.sections -%}
          <li class="">
            <a class="uppercase font-normal text-slate-50 inline-block py-2 px-4 no-underline" href="#{{ section.data.id }}">{{ section.data.name }}</a>
          </li>
        {%- endfor -%}
        <li class="">
          <a class="uppercase font-normal text-slate-50 inline-block py-2 px-4 no-underline" href="#cv">Télécharger le CV</a>
        </li>
      </ul>
    </div>
  </nav>