@tailwind base;
@tailwind components;
@tailwind utilities;

/* Colors */
body {
  color: theme("colors.neutral.600");
  background: theme("colors.neutral.200");
}

#sideNav a:hover,
.active,
.secondary,
a {
  color: theme("colors.amber.600");
}

.active {
  background-color: theme("colors.slate.800");
  font-weight: 800;
}

.active i {
  opacity: 1 !important;
}

a:hover,
a:focus,
a:active {
  color: theme("colors.amber.700");
}

hr {
  border-color: theme("colors.neutral.300");
  border-width: 0;
  border-top-width: 1px;
  border-style: solid;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.primary,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  text-transform: uppercase;
  color: theme("colors.slate.900");
  font-family: theme("fontFamily.title");
}

.h1,
h1 {
  font-size: 4.4rem;
  line-height: 3rem;
}

.h2,
h2 {
  font-size: 3rem;
  line-height: 2.5rem;
}

.h3,
h3 {
  font-size: 2.6rem;
  line-height: 3rem;
}

.h4,
h4 {
  font-size: 1.7rem;
  line-height: 2.2rem;
}

.h5,
h5 {
  font-size: 1.2rem;
  line-height: 1.7rem;
}

p {
  margin-bottom: 0.25rem;
}

@media (min-width: 768px) {
  .h1,
  h1 {
    font-size: 8rem;
    line-height: 5.5rem;
  }
  .h2,
  h2 {
    font-size: 3.4rem;
    line-height: 4rem;
  }
}

/* Ajoutez ces styles à votre CSS */

.read .date,
.read .desc {
  transform: scale(1.05);
}

.bottom-bar,
.top-bar {
  background: linear-gradient(
    to bottom,
    theme("colors.amber.600") 50%,
    theme("colors.slate.900") 0
  );
  background-size: 100% 200%;
  background-position: bottom;
}

.top-bar {
  transition: background-position 0.1s 0.1s ease;
}
.check {
  transition: border-color 0.1s 0.2s ease, color 0.1s 0.2s ease;
}
.bottom-bar {
  transition: background-position 0.1s 0.2s ease;
}

.passed.bottom-bar {
  transition: background-position 0.1s ease;
  background-position: top;
}
.unread .check {
  transition: border-color 0.1s ease, color 0.1s ease;
}

.read .check {
  border-color: theme("colors.amber.600");
  color: theme("colors.amber.600");
}

.read .top-bar {
  background-position: top;
}

#toggle:checked ~ #burger span {
  opacity: 1;
  transform: rotate(45deg) translate(4px, -5px);
}
#toggle:checked ~ #burger span:nth-of-type(2) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}
#toggle:checked ~ #burger span:last-of-type {
  transform: rotate(-45deg) translate(4px, 5px);
}
#toggle:checked ~ #menu {
  display: block;
}