<!DOCTYPE html>
<html lang="fr" class="scroll-smooth">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="{{ description }}">
    <meta name="author" content="{{ author }}">
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="/assets/main.css"/>
    <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <body class="font-main" id="top">
      {% include "../components/navigation.njk" %}
      <main class="pl-[17rem] pr-0 py-0">
        {{ content|safe }}
        {% include "../components/sectionslist.njk" %}
      </main>
      <script src="/assets/main.js"></script>
    </body>
  </head>
</html>