---
title: "On s'appelle, on prend un café ?☕"
name: Contact
id: contact
permalink: false
tags: sections
order: 6
---

<p class="mb-sm-1">Enfin, parce que j'aurais beau faire un CV fun, sympa, responsive, user friendly,
     gourmand-croquant... ça reste une page web.
</p>
<p class="mb-sm-1">Et rien ne remplacera le contact humain.</p>
<p class="mb-sm-5">Aussi, je vous propose de ne pas en rester là :</p>
<p class="h4 m-5 align-center"><a href="tel:+33628560489">06 28 56 04 89</a></p>
<p class="mb-sm-1">
     Et comme le téléphone c'est pas toujours possible, vous pouvez aussi me contacter ici :</p>
<ul>
     {% for item in contact.items %}
          <li>
               <a href="{{ item.link }}">{{ item.name }}</a>
          </li>
     {% endfor %}
</ul>