---
title: "Centres d'intérêt"
name: "Centres d'intérêt"
id: hobbies
permalink: false
tags: sections
order: 5
---

<p>En dehors de mon rôle de développeur formateur, j'ai - il faut se rendre à l'évidence - une âme d'artiste.</p>
<p class="mb-sm-0">
     <i class="fab fa-d-and-d mr-3"></i>Geek oblige, j'adore animer des parties de <strong>jeux de plateau</strong> et de <strong>jeux de rôle</strong> entre amis (vous avez dit "team building" ?)
</p>
<p class="mb-sm-1">
     <i class="fas fa-guitar mr-3"></i>J'aime beaucoup la <strong>musique</strong>, j'en écoute largement lorsque je code et je joue de la <strong>basse</strong> à l'occasion lorsque je ne code pas.</p>
<p class="mb-sm-1">
     <i class="fas fa-book mr-3"></i>Et j'apprécie de <strong>lire</strong> des histoires - et parfois aussi, <strong>écrire</strong> les miennes.</p>