---
title: "Centres d'intérêt"
name: "Centres d'intérêt"
id: hobbies
permalink: false
tags: sections
order: 5
icon: "fa-icons"
---

<p class="mb-3">En dehors de mon rôle de développeur, j'ai - il faut se rendre à l'évidence - une âme d'artiste. Un
     petit apperçu de ce qui me passionne :
</p>
<ul>
     <li class="mb-2">
          <i class="mr-2 fa-solid fa-palette"></i>Bassiste, compositeur, peintre et dessinateur. J'aime l'art. Tant sa folie
               créative que la discipline requise pour explorer ces différents modes d'expression.
     </li>
     <li class="mb-2">
          <i class="mr-2 fa-brands fa-fort-awesome"></i>L'époque médiévale, c'est mon truc, mais plutôt que de la lire, je préfère
               la vivre : Je suis dans une troupe de Reconstitution historique et je pratique les Arts Martiaux Historiques Européens
               en association.
     </li>
     <li class="mb-2">
          <i class="mr-2 fa-solid fa-hat-wizard"></i>
     </i>Je suis également un grand amateur des cultures de l'imaginaire et de ludisme. Adèpte des jeux de rôle, de plateau,
     et de murder party. Je pense qu'on peut apprendre de nombreuses choses à grâce au jeu : improvisation, résolution de
     problèmes, collaboration...
</li>
<li class="mb-2">
     <i class="mr-2 fa-solid fa-gears"></i>Et au delà de jouer, je suis en train de donner vie à plusieurs plusieurs projets
          de jeux. Pour ne citer que ceux-là : un escape game, une murder party, mon propre jeu de rôle ... Je suis tout autant
          intéressé par l'aspect narratif, la création d'histoire et de scénarios, que par l'aspect ludique de la création de
          règles et d'énigmes.
</li></ul>