---
title: Compétences
name: Compétences
id: skills
permalink: false
tags: sections
order: 1
icon: "fa-gears"
---

<div class="mb-10">
     <h3 class="">
          Développeur
          <span class="secondary">JavaScript</span>
          depuis
          <span class="secondary">2015</span>
     </h3>
</div>
<div class="columns-1 md:columns:2">
     {% for item in skills.main %}
          {% if loop.index0 > 0 %}
               <div class="mb-4">
                    <h3 class=""></i>
                    <i class="fab fa-{{ item.icon }} animate-pulse" title="{{ item.icon }}"></i>
                    {{ item.name }}</h3>
               <p>Experience : {{ item.years }} ans</p>
               {% for ecosystem in item.ecosystem %}
                    {{ ecosystem }}{{ ", " if not loop.last else "" }}
               {% endfor %}
          </div>
     {% endif %}
{% endfor %}
{% for key, val in skills.other %}
     <div class="mb-4">
          <p class="h3">{{ key }}</p>
          <ul>
               {% for item in val %}
                    <li>
                         <span class="inline-block w-3 mr-3">{{ item.icon }}</span>
                         {{ item.name }}</li>
               {% endfor %}
          </ul>
     </div>
{% endfor %}</div>