---
title: Compétences
name: Compétences
id: skills
permalink: false
tags: sections
order: 1
icon: "fa-gears"
---

<div class="mb-10 grid grid-cols-3 md:gap-5">
     <span class="h4 md:h3 inline md:text-right">
          <span class="">Tech Lead</span>
     </span>
     <h2 class="h4 md:h3 inline md:text-center">
          <span class="secondary">CTO</span>
     </h2>
     <span class="h4 md:h3 inline">
          <span class="">Développeur</span>
     </span>
</div>
<div class="grid grid-cols-1 md:grid-cols-3 gap-5">
     <div class="p-4 bg-white rounded shadow hover:scale-110 transition duration-300 ease-in-out">
     <p class="h4 mb-3">Workflow</p>
     <ul>
          {% for item in skills.others %}
               <li class="mb-2">
                    <span class="inline-block w-3 mr-2">{{ item.icon }}</span>
                    {{ item.name }}</li>
          {% endfor %}
     </ul>
     <p class="h4 mt-5 mb-3">Langues</p>
     <ul>
          {% for item in skills.languages %}
               <li class="mb-2">
                    <span class="inline-block w-3 mr-2">{{ item.icon }}</span>
                    {{ item.name }}</li>
          {% endfor %}
     </ul>
</div>
<div class="p-4 bg-white rounded shadow scale-105 hover:scale-110 transition duration-300 ease-in-out">
     <ul>
          <li class="mb-2 text-center">
               <span class="inline-block w-3">💡</span><br/><strong>Stratégie technologique</strong>, gestion du changement, mise à l'échelle</li>
          <li class="mb-2 text-center">
               <span class="inline-block w-3">🦸‍♂️</span><br/><strong>Leadership technique</strong>, gestion de projet Agile, amélioration continue</li>
          <li class="mb-2 text-center">
               <span class="inline-block w-3">🤝</span><br/>RH, gestion de carrières, recrutement,
          résolution de conflits</li>
          <li class="mb-2 text-center">
               <span class="inline-block w-3">👨‍🏫</span><br/>Management 3.0, <strong>esprit d'équipe</strong>, intelligence collective</li>
          <li class="mb-2 text-center">
               <span class="inline-block w-3">🧘‍♂️</span><br/>Optimiste, calme,
          analytique, orienté solutions</li>
          <li class="mb-2 text-center">
               <span class="inline-block w-3">💬</span><br/>Bon communiquant, <strong>pédagogue</strong>, vulgarisateur</li>
                  
          {# {% for item in skills.soft %}
               <li class="mb-2 text-center">
                    <span class="inline-block w-3">{{ item.icon }}</span><br/> {{ item.name }}</li>
          {% endfor %} #}
     </ul>
</div>

     <div class="text-right p-4 bg-white rounded shadow hover:scale-110 transition duration-300 ease-in-out">
          <p class="h4 mb-3">Langages & Frameworks</p>
          {% for item in skills.hard %}
                    <div class="mb-2">
                         <strong class="h5">{{ item.name }} <i class="fab fa-{{ item.icon }} animate-pulse" title="{{ item.icon }}"></i></strong>
                    {% if item.years.length > 0 %}
                         <p class="mb-0">{{ item.years.length }} ans d'expérience</p>
                    {% endif %}
                    <p class="mb-0">
                         {% for ecosystem in item.ecosystem %}
                              {{ ecosystem }}{{ ", " if not loop.last else "" }}
                         {% endfor %}
                    </p>
               </div>
     {% endfor %}
</div>
</div>