---
title: "David Legrand ⚛️ CTO et Tech Lead - Avignon - React, Vue.js, Node.js"
description: "David Legrand, CTO / Directeur technique chez Kizeo, ex Tech Lead et Développeur React, React Native, Vue.JS, Node.JS - Actuellement sur Avignon et alentours."
author: David Legrand
url: https://www.david-legrand.com/
layout: layouts/base.njk
tags: []
---

<section
  class="flex flex-col pt-20 p-5 md:p-10 justify-center align-items-center w-100 min-h-screen  mx-auto md:max-w-screen-lg"
  id="about">
  <h1 class="mb-0 text-center">David
    <span class="secondary md:-ml-4">Legrand</span>
  </h1>
  <span class="mb-20 !md:text-[3.1rem] h4 md:h2 text-center">Accélérateur de croissance digitale</span>
<h2 class="h3 mb-4 text-center">
    CTO / Directeur Technique Kizeo</h2>
  <p>Moi, c'est
    <strong>David</strong>. Mon métier :
    <strong>CTO</strong> (Chief Technical Officer / Directeur Technique).
  </p>
  <p>Digital native et touche-à-tout, je baigne dans le Web depuis l'enfance et j'en ai fait mon métier
    <strong>depuis 2011</strong>.</p>
  <p class="mb-4">Après avoir tour à tour endossé les rôles de développeur, <strong>tech lead</strong>, consultant, formateur, SCRUM
    master... j'ai rejoint en 2023 l'éditeur logiciel SaaS Kizeo, sur Avignon au sein duquel j'ai endossé les responsabilités de <strong>CTO</strong>.</p>
  <p>Mes objectifs principaux en ce moment :
  </p>
  <ul class="mb-4">
    <li>Continuer d'apprendre et de grandir sur le plan technique et humain</li>
    <li>Mettre à profit mon expertise technique pour aider mon équipe à relever tous les challenges à venir</li>
    <li>Mettre à profit mon rôle de servant leader pour aider mon équipe à progresser à sur les plans technique, agile et
      organisationnel.</li>
  </ul>
  <p class="h4 text-center">
    <a href="tel:+33628560489">06 28 56 04 89</a>
    ·
    <a href="mailto:contact@david-legrand.com" class="d-inline-block">contact@david-legrand.com</a>
  </p>
</section>