---
title: "David Legrand ⚛️ Développeur React, Vue, Node"
description: "Développeur React, Vue.JS, Node.JS et Angular depuis 2017. Mobile Avignon ou full remote. Vous avez un projet ? On en parle : 06 28 56 04 89"
author: Home
layout: layouts/base.njk
tags: []
---

<section class="flex flex-col mx-10 justify-center align-items-center w-100 h-screen" id="about">
  <h1 class="mb-0">David<span class="secondary">Legrand</span>
  </h1>
  <h2 class="mb-0">Créateur d'expériences digitales</h2>
  <h2 class="my-0 mb-0 h3">
    <span class="d-inline-block mr-3">
      <i class="fab fa-react" aria-hidden="true" title="React"></i>
      React
    </span>
    <span class="d-inline-block mr-3">
      <i class="fab fa-vuejs" aria-hidden="true" title="React"></i>
      Vue
    </span>
    <span class="d-inline-block mr-3">
      <i class="fab fa-node-js" aria-hidden="true" title="Node.js"></i>
      Node.JS
    </span>
  </h2>
  <p class="h3 mb-5">
    <a href="tel:+33628560489">06 28 56 04 89</a>
    ·
    <a href="mailto:contact@david-legrand.com" class="d-inline-block">contact@david-legrand.com</a>
  </p>
  <p class="mb-1">Moi, c’est
    <strong>David</strong>. Mon métier :
    <strong>Lead Développeur JS</strong>.
  </p>
  <p class="mb-1">Digital native et touche à tout, je baigne dans le Web depuis l'enfance et j'en ai fait mon métier
    depuis 2011.</p>
  <p class="mb-3">Je vis et travaille autour d'<strong>Avignon</strong>.</p>
  <p class="mb-0">J’ai travaillé en tant que
    <strong>Développeur PHP et consultant SEO</strong>
    en agence, puis en
                                                              Freelance.</p>
  <p class="mb-0">En 2017, je me suis lancé dans la
    <strong>formation professionnelle</strong>, une facette du métier qui m'a beaucoup
      interessé</p>
  <p class="mb-5">Et depuis 2022, j'ai intégré Kizeo pour qui je travaille en tant que développeur Mobile Senior.</p>
</section>
<hr class="m-0">